.center-block {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.td-u {
  text-decoration: underline;
}
.blue-color {
  color: #3aa3fc;
}
.rates-header {
  width: 100%;
  height: 100%;
  background-color: #ccc;
}
.rates-header h2 {
  text-align: center;
  color: black;
}
.rates-Exchange {
  font-size: 1.5rem;
  margin: 0 0.5rem;
  color: black;
}
.rates-Exchange:hover {
  text-decoration: underline;
}
.rates-sum {
  width: 75%;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 2px;
  border: 2px solid #3aa3fc;
  border-radius: 5px;
  font-size: 1.2rem;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.rates-sum-anim {
  -webkit-animation: delete 1s infinite;
          animation: delete 1s infinite;
}
.rates-sum:focus {
  outline: none;
}
.rates-radio {
  position: relative;
  font-size: 1.3rem;
  margin: 0.25rem 0;
  cursor: pointer;
  padding-left: 1.4rem;
}
.rates-radio input {
  display: none;
}
.rates-radio:before {
  content: '';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 1rem;
  height: 1rem;
  border: 2px solid #3aa3fc;
  border-radius: 50%;
}
.rates-radio:hover:before {
  background-color: #7ac2ff;
}
.rates-mark {
  position: absolute;
  top: 11.5px;
  left: 4.2px;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #587bff;
  border-radius: 50%;
}
.rates-button {
  padding: 0.5rem;
  margin: 1rem;
  outline: none;
  background-color: white;
  border: 2px solid #3aa3fc;
  font-size: 1.2rem;
  border-radius: 5px;
}
.rates-button:focus {
  outline: none;
}
.rates-button-selected {
  background-color: #3aa3fc;
  color: white;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
.wrapper-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper-button {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.clear {
  display: inline-block;
  width: 1.8rem;
  height: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-item-align: center;
      align-self: center;
  margin-left: 0.3rem;
  background: url(img/delete.png) center no-repeat;
  background-size: cover;
  cursor: pointer;
}
@-webkit-keyframes delete {
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  
  0% {
    width: 75%;
  }
  50% {
    width: 10%;
  }
  100% {
    width: 75%;
  }
}
@keyframes delete {
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  
  0% {
    width: 75%;
  }
  50% {
    width: 10%;
  }
  100% {
    width: 75%;
  }
}
