.center-block {
	display: block;
 margin: 0 auto;
 text-align: center;
}
.block {
	display: block;
}
.inline-block{
	display: inline-block;
}
.rates {
	&-header {
		width: 100%;
		height: 100%;
		background-color: #ccc;
		h2 {
			text-align: center;
			color: black;
		}
	}
	&-Exchange {
		font-size: 1.5rem;
		margin: 0 0.5rem;
		color: black;
	}
	&-Exchange:hover {
		text-decoration: underline;
	}
}
